//jumbotron

//sezione 1 - problem-solution
.section1 {
    background-color: $brandBackgroundColor;

    .row {
        text-align: center;
    }

    .col-4 {
        flex-basis: 10%;
    }

    .flex-container {
        justify-content: space-around;
        padding: $spacing 0;
    }

    .img-container-big {
        flex-basis: 25%;
    }
}

.section2 {
    .img-container {
        max-width: 300px;
    }
}

.section3 {
    background-color: $brandBackgroundColor;

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        @include btnLogoContainer;
    }

    .panel {
        background-color: white;
        border: 1px solid $detailsColor;
        padding: $spacing;
        border-radius: 12px;
        max-width: 800px;

        .img-container {
            display: inline-block;
            padding-right: $spacing;
            max-width: 80px;
        }

        p {
            padding-bottom: $spacing;
        }

        .names {
            color: $detailsColor;
        }
    }
}