$spacing: 20px;

$brandTextColor: #7f14d4;
$brandBackgroundColor: #0414b3;
$detailsColor: #0e14ee;

$fontSize: 14px;

$btnColor: #3e14e9;
$btnBorderRadius: 4px;



$dividing: 1px solid $brandTextColor